body{
    font-family: "Roboto Mono", monospace;
    color:rgb(65, 65, 65);
    width: 100vw;
}


p.bold{

    font-weight: 700;
    font-size: 13px;

}

p{
    font-weight: 100;
    font-size: 13px;
    margin-left: 10px;
   

}

.container{

    display: flex;
    flex-direction: row;
    height: 100vh;

}

.profile{
    flex: 1;
    position: fixed;
    top:0;
    right:0;
    width:25vw;
    padding-left: 2vw;
    padding-right: 3vw;
}

.main{
    flex: 1;
    width:68vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.pjt{
    width: 68vw;
    display: flex;

}


.image{
    width: 25vw;
    font-size: 14px;
    padding-top: 14px;

}

.title{
    width: 32vw;
    font-size: 15px;
    font-weight: 700;
    
}

.year{

    width: 8vw;
    padding-left:3vw;
    font-size: 15px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

a {
    color: rgb(65, 65, 65);
    text-decoration: underline;
    font-size: 13px;
}
  
a:focus,
a:hover {
color: #f09228;
text-decoration: none;
}

.one {
    width: 25vw;
 
    position: relative;
}
  
.two {
    width: 25vw;
    
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

model-viewer{
    width:25vw;
    height: 17vw;

    margin: auto;
}

.copyright{


    margin-bottom:5%;

}

hr{
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,grey,grey 7px,transparent 7px,transparent 14px);
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .profile {
        order: -1; /* 오른쪽 화면을 위로 이동 */
        width:90vw;
        postion:flex;
    }
    .main{
        width: 90vw;
    }
    .pjt{
        width: 90vw;
    }
    .image{
        width: 40vw;
    }
    .one{
        width: 35vw;
    }
    .two{
        width: 35vw;
    }
    .title{
        width: 40vw;
    }
    .year{
        width: 20vw;
    }
}
