body{
    font-family: "Roboto Mono", monospace;
    color:rgb(65, 65, 65);
    width: 100vw;
    display: inline;
}


p.bold{

    font-weight: 700;
    font-size: 12px;

}

p{
    font-weight: 100;
    font-size: 12px;
    margin-left: 10px;
   

}

.profile{
    width:25vw;
    position: fixed; 
    display: inline-block;

    padding-left: 2vw;
    padding-right: 3vw;
}

.main{
  
    width:68vw;
    display: inline-block;

    padding-left: 1vw;
    padding-right: 1vw;
}

.pjt{
    width: 68vw;
    display: flex;
   

}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

.image{
    width: 25vw;
    font-size: 14px;
    padding-top: 14px;

}

.title{
    width: 32vw;
    font-size: 14px;
    font-weight: 700;
    
}

.year{

    width: 8vw;
    padding-left:3vw;
    font-size: 14px;
    
}

a {
    color: rgb(65, 65, 65);
    text-decoration: underline;
    font-size: 12px;
}
  
a:focus,
a:hover {
color: #f09228;
text-decoration: none;
}

.one {
    width: 25vw;
 
    position: relative;
}
  
.two {
    width: 25vw;
    
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

model-viewer{
    width:24vw;

    margin: auto;
}

.copyright{


    margin-bottom:5%;

}

hr{
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,grey,grey 7px,transparent 7px,transparent 14px);
}
