button{
  background-color: white;
  font-family: monospace;
  font-size: 12px;
  color: white;
  border: 1px solid black;

}

#grid
{
  display:grid;
  grid-template-columns: 1fr 1.5fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

details
{
  width:25%;
  text-align: left;

}

summary{ background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1.2px;

}
summary::-webkit-details-marker {
  display: none
}
summary:hover {
  color: white;
  background-color: lightgrey;
}

/*social media button*/
.fa {
  padding: 5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 1px 1px;
  border-radius: 60%;
}

.fa:link {
  color: white !important;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.5;
}

.fa-instagram {
  background: lightgrey
    /*#125688*/
  ;
  color: white;
}

.fa-linkedin {
  background: lightgrey
    /*#007bb5*/
  ;
  color: white;
}

.fa-google {
  background: lightgrey
    /*#dd4b39*/
  ;
  color: white;
}

/*link address option*/
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: lightgrey;
  text-decoration: underline;
}

body {
  background-color: white;
  margin-left: 3%;
  margin-right: 3%;
	margin-top: auto;
	margin-bottom: auto;
  /* border: 2px dotted lightgrey;
	border-radius: 15px;
  padding: 10px 10px 10px 10px; */
  font-family: monospace; /*'Open Sans', sans-serif;*/
  font-size: small;
  font-weight: normal;
  /* letter-spacing: 0.7px; */




}

h1 {


  font-family: verdana;


  font-style: normal;
  font-weight: normal;
  font-size: 150%;
  letter-spacing: 1px;
  background-color: white;
  color: black;

	/* text-shadow: 2px 2px #87CEFA; */
}

h2 {
  color: white;
  font-size: medium;
  font-weight: 700;
  letter-spacing: 1.2px;
}

h3 {
  color: black;
  font-size: medium;
  font-weight: 700;
  letter-spacing: 1.2px;
}

h4{
  font-size: 200%;
  font-weight: bold;
}


p1 {
  font-weight: bold;
}

p2 {
  color: black;
  font-weight:normal;
  font-size: medium;
  letter-spacing: 1.2px;
}
/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 45%; min-width: 200px; max-width: 500px; margin: 10px auto; padding: 0; position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
    /*
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager {
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span {
    font-family: arial; font-size: 50px; width: 16px; height: 16px;
    display: inline-block; color: #ddd; cursor: pointer;
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}
